
@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<div>
    Thanks for signing up, hope you like it here..
</div>
<div>
    @Html.ActionLink("Students list", "Index", null, new { @class = "btn btn-default saveButton" })
</div>
